*{
	margin:0;
	padding: 0;
	font-family:  Verdana;
	box-sizing: border-box;
}
.contenedor{

	width: 100%;
	display: flex;
	margin: auto;
	box-sizing: border-box;
	flex-direction: column;

}
.header{
	width: 100%;
	justify-content: space-between;
	padding: 20px;
	background:linear-gradient(rgba(5,0,0,0.9),rgba(5,0,0,0.9));
	box-sizing: border-box;
	display: grid;
	grid-template-columns:repeat(3 1fr);
	position: fixed;


}
.menu a, .contacto a {
	text-decoration: none;
	padding: 10px;
	color:white;
	text-align: center;

}
.menu a:hover, .contacto a:hover{
	border-bottom: 2px solid #ccc;
}
.menu, .contacto{
	display: flex;
	align-items: center;
	padding: 10px;
	color:white;
	box-sizing: border-box;
	flex-flow: row wrap;

}
.logo{
	display: flex;
	align-items: center;
	box-sizing: border-box;
	flex-flow: row wrap;
	grid-column: 1/1;
}
.logo h1{
	padding: 10px;
	color: #fff;
}
.logo img{
	width: 80px;
	line-height: 80px;
}
.logo{
	grid-column: 1/1;
}
.menu{
	grid-column: 2/2;
}
.contacto{
	grid-column: 3/3;
}

.contenido{
	max-width:1300px;
	display: flex;
	margin: auto;
	flex-direction: column;
	margin-top: 8rem;

}
.contenidos{
	display: flex;
	background: #DC321A;
	justify-content: space-between;
	flex-grow: 1;
	margin-bottom: 20px;

	
}
.item{
	width: 50%;
}
.item img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.mini_contenedor{
	width: 50%;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	box-sizing: border-box;
	padding: 20px;
	color: #ccc;

}
.mini_contenedor h1{
	margin-bottom: 5px;
}
.viaje{
		
		margin: 10px;
}
.viaje a{
	text-decoration: none;
	color: white;
	display:inline-block;
	padding: 10px;
	border: 0.5px solid #000;
	
	
}
.viaje :hover{
	background: #424242;
	color: white;
}

